.body {
    font-family: serif, Georgia, Times, 'Times New Roman', ;
    width: auto;
    height: auto;
    margin-left: -8px;
    margin-top: -8px;
    margin-bottom: -50px;
    background-image: linear-gradient(#60777A, rgb(255, 255, 255), rgb(131, 93, 139), #9AD0DE);
}



.front-logo {
    height: auto;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.legend {
    margin-top: 22px;
    margin-bottom: -60px;
    text-align: center;
    font-size: 30px;
    padding: 20px;

}


.name-adress {

    padding: 5px;
    white-space: 10px;
    border: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.scoops {

    text-align: center;
    padding: 5px;
    margin-top: 5vw;
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;

}

.scoops.label {
    font-size: 10px;

}

@media screen and (max-width: 768px) {
    .scoops {
        margin-top: 10vw;
        width: 40vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.submitclick {

    display: flex;
    justify-content: center;
}

.info {

    text-align: center;
    margin-left: auto;
    margin-right: auto;

}